:root {
  --title-color: #041e49;
  --blue-color: #216ae6;
  --hover: #83c8ff;
  --raduis: 10px;
  --pink: #b93c90;
  --green: #b0ffca;
  --gray: #555;
  --main: #334a96;
}
.container-fluid{
  overflow-x: hidden;
}
header {
  background-color: var(--green);
  overflow: hidden;
  position: relative;
  height: 100vh;
  background: url("../images/background.svg");
  margin-bottom: 5rem;
  background-size: cover;
  background-attachment: fixed;
}

header .banner {
  -webkit-animation: upDown 2s infinite ease-in-out;
  animation: upDown 2s infinite ease-in-out;
  z-index: 2;
}

header .content .header-title {
  font-size: 3em;
  font-weight: 700;
  text-transform: capitalize;
}
header .content .header-title span {
  color: rgb(2, 40, 71);
  font-weight: 700;
}

header .content p.lead {
  font-weight: 700;
}

.btn {
  font-size: 1.1rem;
  display: flex-inline;
  justify-content: center;
  align-items: center;
  border: 2px solid #ddd;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: all 0.7s ease-in;
}
.btn:hover {
  color: var(--blue-color) !important;
  background-color: #eee;
}

.navbar {
  z-index: 5;
  background-color: var(--blue-color);
  width: 100% !important;
}
.dropdown-menu {
  background-color: var(--blue-color);
}
.dropdown-menu a {
  color: #eee !important;
  text-transform: uppercase;
}
.dropdown-menu a:hover {
  color: var(--main) !important;
  background-color: #eee !important;
}

.nav-link {
  color: #eee !important;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.dropdown-menu {
  z-index: 10;
}

.nav-link:hover,
.nav-link:focus {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #eee;
  color: var(--main) !important;
}

.navbar-brand {
  font-size: 1.6rem;
  font-weight: 700;
  position: relative;
  color: #eee !important;
}


/************ Services ***************/
.services .container {
  position: relative;
}

.services .service-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services .card-title {
  font-weight: 600;
  color: #333;
}

.services .card-content {
  position: relative;
  color: #888;
}

.services .card-content:after {
  content: "";
  width: 2px;
  height: 50px;
  display: block;
  position: absolute;
  bottom: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.services .card-content-1::after {
  background-color: #fec2c2;
}

.services .card-content-2::after {
  background-color: #b0ffca;
}

.services .card-content-3::after {
  background-color: #d8c8fc;
}

.title {
  font-weight: 700 !important;
  color: #555;
  margin-top: 5rem;
}
.title span {
  color: var(--blue-color);
  font-weight: 700;
}

/***************************
  ====Carousel
 ******************************/

.slider {
  display: grid;
  place-items: center;
  overflow: hidden;
  height: 500px;
}

.slider,
.carousel,
.carousel-inner {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 0 !important;
}
.carousel-item {
  overflow: hidden;
  cursor: pointer;
}
.carousel-item::before {
  content: "";
  display: block;
  width: 30px;
  height: 130%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: -350px;
  top: -100px;
  transform: rotateZ(30deg);
  z-index: 3;
}
.carousel-item:hover::before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}
.img {
  width: 100%;
  height: 100%;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  transition: all 0.3s ease;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s ease;
}

/***** 4 divs In row /Product 2/ ******/
.divs-grid {
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 370px;
  height: 325px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.box::before {
  content: "";
  display: block;
  width: 30px;
  height: 120%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: -250px;
  top: -30px;
  transform: rotateZ(30deg);
  z-index: 3;
}
.box:hover::before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

.box > img {
  width: 100%;
  height: 100%;
  filter: contrast(5px);
}

/************ Floating Images **************/
.floating-img {
  width: 100%;
  position: relative;
  height: 100vh;
}
.f-img {
  width: 240px;
  height: 290px;
  box-shadow: 25px 25px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  border-radius: var(--raduis);
}
.f-img:hover img {
  transform: scale(1.1);
}
.f-img img {
  width: 100%;
  height: 100%;
  border-radius: var(--raduis);
  transition: all 0.3s ease-in;
  filter: contrast(10px);
}
.f-img-3 {
  left: 35%;
  top: 12%;
  width: 450px;
  height: 550px;
}
.f-img-1 {
  left: 15%;
  top: 7%;
  box-shadow: -25px -25px 10px rgba(0, 0, 0, 0.1);
}
.f-img-2 {
  left: 15%;
  top: 53%;
  box-shadow: -25px -25px 10px rgba(0, 0, 0, 0.1);

}
.f-img-4 {
  right: 15%;
  top: 7%;
}
.f-img-5 {
  right: 15%;
  top: 53%;
}

/**********************
 * Thumbnail image gallery
 **********************/
.product-5 {
  background: url(../images/MassCircles.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 5rem;
}
.s-grid-sec{
  background: url("../images/WaveLine.svg");
  background-size: cover;
}
.s-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  margin: 3rem auto 0;
  border-radius: var(--raduis);
}
.s-grid-box{
  width: 400px;
  height: 350px;
  margin:0 3rem 2rem;
  cursor: pointer;
  overflow: hidden;
}

.s-grid-box img{
  width: 100%;
  height: 100%;
  border-radius: var(--raduis);
  transition: all .5s ease;
}
.s-grid-box img:hover{
  transform: scale(1.2);
}


/*********** Roll Up Section *************/

.roll-up-sec {
  height: 100%;
}

.roll-img {
  width: 100%;
  height: 100%;
}
.roll-img img {
  width: 100%;
}
.roll-up-sec .transparent-title {
  top: 4%;
  left: 42%;
  background-color: transparent;
  animation: none;
  box-shadow: none;
}


/***********
 * Grid Gallery
 ***********/
.product-6{
background: url("../images/WaveLine.svg");
background-size: cover;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10rem;
  place-items: center;
  grid-gap: 1rem;
}
.grid-item {
  width: 20rem;
  height: 17rem;
  border-radius: var(--raduis);
  margin-bottom: 0.5rem;
  cursor: pointer;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  border-radius: var(--raduis);
  transition: all 0.7s ease;
}
.grid-item img:hover {
  transform: scale(1.2);
}

/****** Parallex Images slider*******/
.images-slider {
  height: 75vh;
  background-color: var(--hover);
  z-index: -1;
  width: 100%;
  overflow: hidden;
  will-change: transform;
  transform-origin: center;
  perspective-origin: center;
  transition: all 3s ease-in-out;
  margin-bottom: 10rem;
  position: relative;
}
.scrolling-thumbs-wrap {
  position: absolute;
  top: -55%;
  z-index: 3;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.column {
  flex-direction: column;
  width: 17rem;
  height: 500px;
}

.parallax-image {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
  /* border-radius: 10px; */
  box-shadow: 4px 21px 20px 0 rgba(0, 0, 0, 0.4);
  display: inline-block;
  vertical-align: middle;
}

.footer {
  background: url(../images/background.svg);
  position: relative;
  height: 100%;
}
.footer .text-white {
  font-weight: 300;
}

.footer h1.text-white,
.footer h2.text-white {
  font-weight: 500;
  position: relative;
}
.footer h1.text-white span,
.footer h2.text-white span {
  color: var(--green);
}

.footer .social-icon {
  color: #f5f5f5;
  height: 20%;
  font-size: 30px;
  margin-bottom: 5rem;
}

.footer .social-icon i {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
  font-size: 1.7rem;
  color: #eee;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.footer .social-icon i:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.info {
  color: #d8c8fc;
  margin-bottom: 1.3rem;
}
.info i {
  font-size: 1.7rem;
  color: #eee;
}

/*********
 * Mission
 *********/
.mission-sec .row,
.goals-sec .row{
  height: 500px;
}