@media (max-width: 1525px) {
  .banner {
    width: 28rem;
  }
  .slider {
    height: 500px !important;
  }
  .box {
    width: 320px !important;
    height: 320px !important;
    margin: 0 auto 1rem;
  }
  .f-img {
    width: 250px !important;
    height: 300px !important;
  }
  .f-img-3 {
    left: 37% !important;
    top: 25% !important;
    width:300px !important;
    height: 350px !important;
  }
  .f-img-1 {
    left: 10% !important;
  }
  .f-img-2 {
    left: 10% !important;
  }
  .f-img-4 {
    right: 10% !important;
  }
  .f-img-5 {
    right: 10% !important;
  }
  .roll-up-sec .transparent-title {
    left: 42% !important;
  }
}
@media (max-width: 1300px) {
  header .content .header-title {
    font-size: 2.5rem !important;
  }
  .banner {
    width: 23rem;
  }
  .box {
    width: 300px !important;
    height: 300px !important;
    margin: 0 auto 1rem;
  }
  .f-img {
    width: 250px !important;
    height: 300px !important;
  }
  .f-img-3 {
    left: 34% !important;
    top: 17% !important;
    width: 400px !important;
    height: 500px !important;
  }
  .f-img-1 {
    left: 10% !important;
  }
  .f-img-2 {
    left: 10% !important;
  }
  .f-img-4 {
    right: 10% !important;
  }
  .f-img-5 {
    right: 10% !important;
  }
  .column {
    margin-right: 0.6rem;
  }
  .parallax-image {
    width: 15rem !important;
    height: 15rem !important;
  }
}
@media (max-width: 1200px) {
  header .content .header-title {
    font-size: 1.9rem !important;
  }
  .content p {
    font-size: 1.1rem;
  }
  .banner {
    width: 20rem;
    top: 5% !important;
    left: 15% !important;
  }
  h2.title::before {
    left: 35% !important;
  }
  .services .card-title {
    font-size: 1.3rem;
  }
  .slider {
    height: 450px !important;
  }
  .gallery img {
    width: 18rem !important;
    height: 14rem !important;
    border-radius: 5px;
    margin-bottom: 1.5rem;
  }
  .box {
    width: 250px !important;
    height: 250px !important;
    margin: 0 auto 1rem;
  }
  .f-img {
    width: 230px !important;
    height: 270px !important;
  }
  .f-img-3 {
    left: 36.5% !important;
    top: 25% !important;
    width: 270px !important;
    height: 300px !important;
  }
  .f-img-1 {
    left: 10% !important;
  }
  .f-img-2 {
    left: 10% !important;
  }
  .f-img-4 {
    right: 10% !important;
  }
  .f-img-5 {
    right: 10% !important;
  }
  .gallery img {
    width: 250px !important;
    height: 250px !important;
  }
  .s-grid-box {
    width: 300px !important;
    height: 200px !important;
    margin: 1rem auto !important;
  }
  .roll-up-sec .transparent-title {
    top: -1% !important;
  }
  .parallax-image {
    width: 12rem !important;
    height: 12rem !important;
  }
}

@media (max-width: 992px) {
  header .content .header-title {
    font-size: 1.8rem !important;
  }
  .side-title p {
    padding-bottom: 1rem !important;
  }
  .content p {
    font-size: 1rem;
  }
  .banner {
    width: 18rem !important;
  }
  .services .card-title {
    font-size: 1.3rem;
  }
  .f-img {
    width: 200px !important;
    height: 250px !important;
  }
  .f-img-3 {
    left: 34% !important;
    top: 17% !important;
    width: 250px !important;
    height: 300px !important;
  }
  .f-img-1 {
    left: 5% !important;
  }
  .f-img-2 {
    left: 5% !important;
  }
  .f-img-4 {
    right: 5% !important;
  }
  .f-img-5 {
    right: 5% !important;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .gallery img {
    width: 300px !important;
    height: 300px !important;
    margin-left: 0.5rem;
  }
  .gallery .grid-item:last-child {
    display: none;
  }
  h2.title::before {
    left: 30% !important;
  }
  .s-grid-box {
    width: 250px !important;
    height: 200px !important;
    margin: 0 auto 1rem !important;
  }
  .box {
    width: 250px !important;
    height: 250px !important;
    margin: 0 auto 1rem;
  }
  .roll-up-sec .transparent-title {
    top: -8% !important;
    left: 36% !important;
  }
  /* Image slider */
  .images-slider {
    height: 65vh !important;
  }
  .scrolling-thumbs-wrap {
    top: -80% !important;
    left: 0%;
  }
  .column {
    margin-right: 0.6rem;
  }
  .parallax-image {
    width: 10rem !important;
    height: 10rem !important;
  }
  .scrolling-thumbs-wrap {
    top: -80% !important;
    left: 0%;
  }
}
@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    clip-path: none !important;
    height: 150vh !important;
    margin-bottom: 5rem;
    background-color: #216ae6 !important;
  }
  header .content .header-title {
    font-size: 1.9rem !important;
  }
  header .banner {
    margin-top: 5rem !important;
  }
  .hero {
    position: relative;
    height: 100vh;
  }
  .slider,
  .carousel,
  .carousel-inner {
    width: 90% !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }
  .gallery img {
    width: 300px !important;
    height: 300px !important;
  }
  h2.title::before {
    left: 28% !important;
  }
  .line-br {
    text-align: center !important;
    margin-bottom: 3rem;
  }
  .social-icon {
    justify-content: center;
  }
  .gallery {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .slider {
    height: 250px !important;
  }
  .carousel-item,
  .carousel-item img {
    width: 100%;
  }
  .c-header {
    background: none !important;
  }
  .c-header h2 {
    color: #444 !important;
  }
  .divs-grid {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .box {
    width: 400px;
    height: 350px;
    margin: 0 auto 1rem;
  }
  .box img {
    border-radius: 10px;
  }
  .floating-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    margin: 0 auto;
    padding: 3rem 0 5rem;
  }
  .f-img {
    position: relative !important;
    width: 300px !important;
    height: 200px !important;
    left: 0 !important;
    top: 0 !important;
    margin-bottom: 1rem;
  }
  .f-img img {
    width: 100%;
    height: 100%;
  }
  .product-5 {
    margin: 5rem 0 !important;
    overflow: auto;
  }
  .s-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .s-grid-box {
    width: 300px !important;
    height: 200px !important;
    margin: 1rem auto !important;
  }
  .product-4 {
    margin: 5rem 0;
  }
  .roll-up-sec .transparent-title {
    top: -8% !important;
    left: 33% !important;
    background-color: transparent;
    animation: none;
    box-shadow: none;
  }
  .product-6 {
    margin-top: 5rem !important;
  }
  .g-col{
    background: #eee !important;
  }
  .goals-sec .row{
    flex-direction: column-reverse !important;
  }
}
@media (max-width: 600px) {
  header .banner {
    display: none;
  }
  header {
    height: 100vh !important;
  }
  header::before {
    clip-path: none !important;
    height: 100vh;
  }
  header .content .header-title {
    font-size: 1.9rem !important;
    margin-top: 2rem;
  }
  header .content {
    text-align: center;
  }
  header .content .lead {
    font-size: 1.1rem;
    font-weight: 300;
  }
  .title {
    font-size: 2rem !important;
  }
  .services .title {
    margin-top: 0;
  }
  h2.title::before {
    left: 20% !important;
  }
  .side-title .btn {
    margin-bottom: 2rem !important;
  }
  .product-5 {
    margin: 5rem 0 !important;
    overflow: auto;
  }
  .product-4 {
    margin: 5rem 0;
  }
  .roll-up-sec .transparent-title {
    left: 30% !important;
  }
  .product-6 {
    margin-top: 5rem !important;
  }
  .about img {
    width: 100% !important;
    margin: 0 auto !important;
  }
  
  .mission-sec h2,
  .goals-sec h2{
    margin-bottom: 3rem !important;
  }
  .roll-up-sec .transparent-title {
  display: none !important;
  }
  .mission-sec > ul{
    padding: 1rem !important;
  }
}

@media (max-width:500px) {
  .c-header h2 {
    color: #444 !important;
    padding-bottom: 2rem !important;
  }
  .roll-up-sec .transparent-title {
    top: -18% !important;
    left: 20% !important;
    font-size: 1.5rem;
  }

  .mission-sec h2,
  .goals-sec h2,
  .product-1 h2{
    margin-bottom: 3rem !important;
  }
  .roll-up-sec .transparent-title {
  display: none !important;
  }
  .mission-sec > ul{
    padding: 1rem !important;
  }
  .goals-sec .row{
    flex-direction: column-reverse !important;
  }
}

@media (max-width: 375px) {
  .haeder-hero {
    margin-top: 1rem !important;
  }
  .box {
    width: 250px !important;
    height: 200px !important;
    margin: 0 auto 1rem;
  }
  .roll-up-sec .transparent-title {
    top: -18% !important;
    left: 20% !important;
    font-size: 1.2rem !important;
  }
  .about h2 {
    margin: 2rem!important;
    font-size: 1.2rem;
  }
  .about .lead {
    padding: 0 !important;
  }
  .mission-sec .row,
  .goals-sec .row {
    height: auto !important;
  }
}
@media (max-width: 320px) {
  header .container {
    padding-top: 0rem !important;
  }
  .about h2 {
    margin: 2rem auto !important;
    font-size: 1.2rem;
  }
  .about .lead {
    padding: 0 !important;
  }
  .mission-sec .row,
  .goals-sec .row {
    height: auto !important;
  }

  .slider,
  .carousel,
  .carousel-inner {
    height: auto !important;
  }
  .product-1 .title {
    padding-bottom: 2rem;
  }
  .product-2 {
    margin-top: 5rem !important;
  }
  .box {
    width: 250px !important;
    height: 200px !important;
    margin: 0 auto 1rem;
  }
  .grid-item {
    width: 250px !important;
  }
}
